html,
body {
  padding: 0;
  margin: 0;
  font-family: Vazirmatn, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
    font-family: Vazirmatn, sans-serif;
  }
}

.test {
  width: 80%;
  animation: fly 4s infinite linear;
}

@keyframes fly {
  0% {
    transform: translate(15px, 15px);
  }
  25% {
    transform: translate(-15px, -15px);
  }
  50% {
    transform: translate(15px, 15px);
  }
  75% {
    transform: translate(-15px, -15px);
  }
  100% {
    transform: translate(15px, 15px);
  }
}
