@font-face {
  font-family: Vazir;
  src: url("../public/fonts/Vazir-Medium.eot");
  src: url("../public/fonts/Vazir-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Vazir-Medium.woff2") format("woff2"),
    url("../public/fonts/Vazir-Medium.woff") format("woff"),
    url("../public/fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Vazir !important;

  /* font-family: Vazirmatn, sans-serif ; */
}

a {
  color: inherit;
  text-decoration: none;
  font-family: Vazir;
}

* {
  box-sizing: border-box;
  font-family: Vazir !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
    /* font-family: Vazirmatn, sans-serif; */
    font-family: Vazir;
  }
}

.test {
  width: 80%;
  animation: fly 4s infinite linear;
}

@keyframes fly {
  0% {
    transform: translate(15px, 15px);
  }
  25% {
    transform: translate(-15px, -15px);
  }
  50% {
    transform: translate(15px, 15px);
  }
  75% {
    transform: translate(-15px, -15px);
  }
  100% {
    transform: translate(15px, 15px);
  }
}
